/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(240, 249, 255);
  text-shadow: 0 0 2px #000;
}

body {
  background-color: rgb(0, 18, 44);
}

h2 {
  color: azure;
  text-shadow: 0 0 2px #000;
  font-size: 40px;
  letter-spacing: 0.36em;
}

#gallery {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

#gallery h2 {
  margin-bottom: 20px;
}

#slider {
  outline: 8px solid rgb(255, 255, 255);
  width: 1000px;
  height: 500px;
  position: relative;
  margin: 0 auto;
}

.pre, .next {
  padding: 5px;
  margin: 10px 0;
}

#slider > img {
  position: absolute;
  left: 0;
  top: 0;
}

#gallery .indicator {
  margin-top: 20px;
  border-style: none;
  font-size: 32px;
  background-color: transparent;
}

#gallery .indicator a {
  padding-left: 44px;
  padding-right: 44px;
}


#gallery .pre {
  margin-right: 44px;
}

#gallery .next {
  margin-left: 44px;
}

#gallery .arrowUI button {
  margin-top: 40px;
  border-style: none;
  box-shadow: 0 0 2px #000;
  width: 60px;
}

/*
  현재 이미지 = fade-in
  다음 이미지 = fade-out
*/